<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="src/Tests/bootstrap.php"
         colors="true"
         verbose="true"
         cacheResultFile="var/cache/.phpunit.result.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>src/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>src/Tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Tests</directory>
            <directory>src/Infrastructure/Migration</directory>
        </exclude>
        <report>
            <html outputDirectory="var/coverage"/>
            <text outputFile="var/coverage/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DATABASE" value="credit_transactions_test"/>
        <env name="CACHE_DRIVER" value="array"/>
    </php>
</phpunit>